<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DIRS y SUBDIRS -->
    <add key="PRINCIPAL_PATH" value="D:\Transfer\" />
    <add key="PICTURE_SUB" value="Pictures" />
    <add key="DOCUMENT_SUB" value="Documents" />
    
    <!-- MIMEs -->
    <add key="MIME_JPG" value="image/jpeg" />
    <add key="MIME_JPEG" value="image/pjpeg" />    
    <add key="MIME_PNG" value="image/png" />
    <add key="MIME_DOC" value="application/msword" />
    <add key="MIME_DOCX" value="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    <add key="MIME_XLS" value="application/vnd.ms-excel" />
    <add key="MIME_XLSX" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <add key="MIME_PDF" value="application/pdf" />
    <add key="MIME_ODT" value="application/vnd.oasis.opendocument.text" />
    <add key="MIME_ODS" value="application/vnd.oasis.opendocument.spreadsheet" />    

    <!-- EXTENSIONS-->
    <add key="PDF" value="pdf" />
    <add key="JPE" value="jpe" />    
    <add key="JPG" value="jpg" />
    <add key="JPEG" value="jpeg" />    
    <add key="PNG" value="png" />    
    <add key="DOC" value="doc" />
    <add key="DOCX" value="docx" />
    <add key="ODT" value="odt" />
    <add key="XLS" value="xls" />
    <add key="XLSX" value="xlsx" />
    <add key="ODS" value="ods" />
  </appSettings>
</configuration>