<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessEntities.Properties.Settings.ServicioConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Servicio;User ID=sa;Password=leolios2854"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>