<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="server_pathverify" value="http://localhost:8099/Account/ConfirmRegistration?pthreg=" />
    <add key="server_pathresetpsw" value="http://localhost:8099/Account/ConfirmResetPassword?pthresepsw=" />-->
    <add key="server_pathverify" value="https://190.192.44.35:1042//Account/ConfirmRegistration?pthreg=" />
    <add key="server_pathresetpsw" value="https://190.192.44.35:1042//Account/ConfirmResetPassword?pthresepsw=" />
    <add key="company_name" value="PeatonUp" />
    <add key="company_logo" value="logo.jpg" />
    <add key="mail_host" value="mail.twicetalent.com.ar" />
    <add key="mail_port" value="587" />
    <!--<add key="mail_account" value="edisitiorespuesta@gmail.com" />
    <add key="mail_password" value="MQAzADQANgA3ADkAOAA1ADIARwBvAC0AMgAwADAAMAA=" />-->
    <add key="mail_account" value="peatonup@twicetalent.com.ar" />
    <add key="mail_password" value="MQAzADQANgA3ADkAOAA1ADIAVAB0ADIAMAAxADcA" />
    <add key="mail_sender" value="PeatonUp-Administrador del Sistema" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>